body {
    font-family: "Arial", sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background: linear-gradient(to bottom right, #111, #000); /* градієнт зліва верху до права низу */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar a.active {
    color: linear-gradient(to-right, #cd2d91, #bf53d8); /* Змінюємо фон активного пункту */
}

.sidebar .icon {
    width: 24px; /* Встановлення ширини іконки */
    height: 24px; /* Встановлення висоти іконки */
    margin-right: 10px; /* Відступ праворуч від іконки */
}

.content {
    padding: 16px;
}

.openbtn {
    font-size: 15px; /* Зменшуємо розмір шрифту */
    cursor: pointer;
    color: white;
    border: none;
    background-color: black; /* Чорний фон */
    border-radius: 15px; /* Заокруглені кути */
    padding: 5px; /* Зменшуємо внутрішні відступи */
    position: fixed;
    top: 10px; /* Змінюємо положення вище */
    right: 10px; /* Змінюємо положення вправо */
    z-index: 9999;
    transition: background-color 0.3s; /* Додаємо анімацію для зміни кольору */
}

.openbtn:hover {
    color: white;
}
